/* General Styles */

@font-face {
  font-family: 'Hagrid';
  src: url('./fonts/Hagrid-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Hagrid', sans-serif;
  animation: fadeInSite 2s ease-in-out forwards;
  box-sizing: border-box;
}

@keyframes fadeInSite {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/mainFotoDesign.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 360px;
  height: auto;
  display: block;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.5s;
}

.logo-container::before,
.logo-container::after {
  content: '';
  width: 11px;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.5s;
}

.logo-container::before {
  left: -15px;
}

.logo-container::after {
  right: -15px;
}

.menu-button {
  padding: 10px 25px;
  background-color: transparent;
  color: rgba(248, 248, 248, 0.6);
  border: 1px solid #242424;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 2s;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.menu-button:hover {
  background-color: rgba(118, 118, 118, 0.2);
  transform: scale(1.1);
}

.hero-arrows {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.2s;
  cursor: pointer;
}

.hero-arrows img {
  width: 30px;
  height: 30px;
}

.hero-arrows img:first-child {
  animation: blinkArrow 1.5s infinite alternate;
}

.hero-arrows img:last-child {
  animation: blinkArrow 1.5s infinite alternate;
  animation-delay: 0.75s;
}

@keyframes blinkArrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.hero-arrows:hover {
  animation: none;
  opacity: 1;
}

/* Weekly Event Section */
.weekly-event {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 40px 0;
  background-color: rgb(157, 149, 149);
  opacity: 0;
  animation: fadeInSite 2s ease-in-out forwards;
  animation-delay: 1s;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 50px;
  max-width: 100%;
}
.event-text ul {
  padding: 0;
  list-style-type: disc;
}

.event-text li {
  margin-bottom: 5px;
}
.event-container.reverse {
  flex-direction: row-reverse;
}

.event-text {
  max-width: 500px;
  text-align: center;
  background-color: #124536;
  padding: 5px;
  color: white;
}

.event-image img {
  width: 500px;
  height: auto;
  display: block;
}
.delivery-block {
  display: flex;
  align-items: center;
  padding: 0px 140px;
}
.delivery-text {
  text-align: center;
  font-size: 26px;
  line-height: 2;
}
.additional-foto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 10px 10px;
}
.additional-foto img {
  max-width: 250px;
  height: auto;
  padding: 20px;
  object-fit: cover;
}
.additional-foto img:nth-child(odd) {
  transform: translateY(25px);
}
.additional-foto img:nth-child(even) {
  transform: translateY(-25px);
}
/* Footer */
.footer {
  background-image: url(./img/footerBackground1.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  padding: 54px 0;
  opacity: 0;
  animation: fadeInSite 2s ease-in-out forwards;
  animation-delay: 1.5s;
  flex-wrap: wrap;
  text-align: center;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  margin: 10px;
}

.footer-phone {
  text-decoration: none;
  color: #b0b0b0;
  font-size: 18px;
}

.footer-address,
.footer-hours {
  list-style: none;
  padding: 0;
  color: white;
  font-size: 16px;
  margin: 15px 0;
}

.footer-list {
  padding: 5px 0px;
}

.instagram-link {
  text-decoration: none;
  color: #2a5ab1;
  font-size: 18px;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #124536;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 1000;
}

.scroll-top-btn:hover {
  background-color: #0e3a2c;
  transform: scale(1.1);
}

.scroll-top-btn.show {
  display: flex;
  opacity: 1;
}
@media (max-width: 1024px) {
  .delivery-block {
    flex-direction: column;
    padding: 0 50px;
  }
  .delivery-text {
    font-size: 20px;
  }
  .additional-foto img {
    width: 100%;
    height: auto;
    max-width: 220px;
    max-height: 250px;
  }
  .event-container img {
    max-width: 80%;
  }
  .footer-column {
    width: 100%;
    margin: 20px 0;
  }
  .footer-phone {
    font-size: 16px;
  }
  .footer-address,
  .footer-hours {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 90vh;
  }
  .logo {
    width: 300px;
  }
  .menu-button {
    padding: 8px 20px;
  }
  .weekly-event {
    gap: 30px;
    padding: 30px 0;
  }
  .delivery-text {
    font-size: 14px;
  }
  .additional-foto img {
    width: 100%;
    height: auto;
    max-width: 180px;
    max-height: 200px;
  }
  .event-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .event-text {
    font-size: 14px;
    max-width: 90%;
    text-align: center;
  }
  .event-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .event-text ul {
    text-align: left;
  }
  .event-container img {
    max-width: 70%;
  }
  .additional-foto {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .additional-foto img {
    width: 90%;
    transform: none;
  }
  .footer-column {
    width: 100%;
    margin: 20px 0;
  }
  .footer-phone {
    font-size: 14px;
  }
  .footer-address,
  .footer-hours {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: 80vh;
  }
  .logo {
    width: 250px;
  }
  .menu-button {
    padding: 6px 15px;
    font-size: 12px;
  }
  .hero-arrows img {
    width: 25px;
    height: 25px;
  }
  .weekly-event {
    gap: 20px;
    padding: 20px 0;
  }
  .event-text {
    font-size: 12px;
  }
  .delivery-block {
    padding: 0 15px;
  }
  .delivery-text {
    font-size: 12px;
  }
  .additional-foto {
    flex-wrap: wrap;
    justify-content: center;
  }
  .additional-foto img {
    width: 100%;
    height: auto;
    max-width: 140px;
    max-height: 160px;
    padding: 10px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0;
  }
  .footer-column {
    margin-bottom: 20px;
  }
  .event-text {
    font-size: 14px;
    max-width: 95%;
  }
  .event-container img {
    max-width: 60%;
  }
  iframe {
    width: 70%;
  }
}
